*{
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    width: 1200px;

}
.text {
    color: yellow;
    font-size: 30px;
    transition: 0.5s;
}

.title:hover {
    color: yellow;
}
.title:hover~ .text{
    color: #fff;
}